.youtube {
    border-radius: 10px;
    position: absolute;
    top: 5;
    left: 5;
    width: 1200px;
    height: 820px;
};


@media only screen and (max-width: 2000px) {
    .youtube {
    margin-top: 10px;
    width : 720px;
    height : 450px;
    }
}

