@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

// Config
@import "./config/reset";
@import "./config/variable";

// Components 
@import "./components/navBar.scss";
@import "./components/form.scss";
@import "./components/social-login.scss";
@import "./components/shared.scss";
@import "./components//loader.scss";

// Screens 

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(20,20,20,1);
    padding-top: 150px;
    padding-left: 50px;
    color: #ffff;
}

a {
    all: unset;
    text-decoration: none;
    color: inherit;
}


